<p id="notice"><%= notice %></p>

<h1>Panes</h1>

<table class="imagetable">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breads.each do |bread| %>
      <tr>
        <td><%= bread.tipo %></td>
        <td><%= bread.descripcion %></td>
        <td><%= bread.precio %></td>
        <td><%= link_to 'Ver', bread %></td>
        <td><%= link_to 'Editar', edit_bread_path(bread) %></td>
        <td><%= link_to 'Eliminar', bread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Pan', new_bread_path %>
