<p id="notice"><%= notice %></p>

<table class="imagetable">
    <thead>
       <tr>
          <th>Hierbas</th>
      </tr>   
    </thead>
     <tbody>
     <tr>
     <td>
<p>
  <strong>Tipo:</strong>
  <%= @herb.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @herb.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @herb.precio %>
</p>

<%= link_to 'Editar', edit_herb_path(@herb) %> |
<%= link_to 'Atras', herbs_path %>


      </td>
     </tr>
   </tbody>
 </table>