<p id="notice"><%= notice %></p>

<table class="imagetable">
    <thead>
       <tr>
          <th>Producto</th>
      </tr>   
    </thead>
     <tbody>
     <tr>
     <td>

<p>
  <strong>Tipo:</strong>
  <%= @product.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atras', products_path %>

      </td>
     </tr>
   </tbody>
 </table>